html
 head
  title!= title
  style
   include ./styles/index.css
  script(src='./js/jquery-2.1.4.min.js')
  script(src='./js/index.js')
 body
  div.container
   div.header: pre!=webname
   div.mainContent
    div.infoForm
     p Intern Details
     form(method='POST',action='internInfo')
      div#internName
       | Name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       input(type='text',name='firstName' placeholder='First Name')
       br
       |Middle Name: 
       input(type='text',name='middleName' placeholder='Middle Name')
       br
       | Last Name: &nbsp&nbsp
       input(type='text',name='lastName' placeholder='Last Name')
      div#dob
       br
       | Date Birth:&nbsp&nbsp&nbsp
       input(type='date' name='dateOfBirth',placeholder='Date of birth')
      button(type='submit') Add Details
     div.searchIntern
      button(onclick='searchIntern()') Search
    div.displayInternsDetails
